<div *ngIf="!!tvShows && !!tvShowDict" class="container py-4">
  <div class="form-group col">
    <div class="input-group">
      <div class="form-group-prepend">
        <span
          class="input-group-text rounded-0 border-right-0 search-input-group-prepend"
        >
          <fa-icon [icon]="faSSearch"></fa-icon>
        </span>
      </div>
      <input
        class="form-control text-light text-dark search-input-group-bar"
        type="text"
        placeholder="{{ 'search' | translate }}"
        aria-label="search"
        [formControl]="query"
      />
    </div>
  </div>

  <div class="row justify-content-center">
    <div *ngFor="let t of tvShows" class="p-2 text-center">
      <div class="tv-show-card card bg-dark text-light hvr-grow">
        <div class="card-header p-1 m-0 border-0">
          <a routerLink="/discover/{{ t.id }}/details">
            <img
              src="{{ t.poster_path }}"
              alt="card-poster"
              class="poster-img rounded"
              width="100%"
              height="200px"
            />
          </a>
        </div>
        <div class="card-body p-2 border-0">
          <h6 class="card-title text-truncate mb-2">{{ t.name }}</h6>
          <button
            *ngIf="tvShowDict[t.id]"
            class="btn btn-danger btn-sm btn-block"
            (click)="removeFromCollection(t.id)"
          >
            <fa-icon [icon]="faSMinusCircle"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
