<form [formGroup]="profileForm" (ngSubmit)="update()">
  <div class="mt-3 d-flex flex-column">
    <label for="name">Name</label>
    <input
      class="form-control mb-3"
      type="text"
      formControlName="name"
      placeholder="Name"
    />
    <label for="surname">Surname</label>
    <input
      class="form-control mb-4"
      type="text"
      formControlName="surname"
      placeholder="Surname"
    />
  </div>
  <button
    type="submit"
    class="btn btn-success btn-block"
    [disabled]="!profileForm.valid"
  >
    Update
  </button>
</form>
