<div class="container py-4">
  <div class="row">
    <div class="col mx-1">
      <div class="col mx-auto" style="max-width: 500px">
        <h3 class="text-center mb-3">{{ 'sign_up' | translate }}</h3>
        <div *ngIf="error" class="alert alert-danger" role="alert">
          {{ 'sign_up_error' | translate }}
        </div>

        <form #f="ngForm" (ngSubmit)="submit()">
          <input
            class="form-control mb-3"
            placeholder="{{ 'username' | translate }}"
            type="text"
            id="username"
            [(ngModel)]="user.username"
            name="username"
            required="required"
          />
          <input
            class="form-control mb-3"
            placeholder="{{ 'password' | translate }}"
            type="password"
            id="password"
            [(ngModel)]="user.password"
            name="password"
            required="required"
            minlength="6"
          />
          <input
            class="form-control mb-3"
            placeholder="{{ 'name' | translate }}"
            type="text"
            id="name"
            [(ngModel)]="user.name"
            name="name"
            required="required"
          />
          <input
            class="form-control mb-3"
            placeholder="{{ 'surname' | translate }}"
            type="text"
            id="text"
            [(ngModel)]="user.surname"
            name="surname"
            required="required"
          />
          <button
            class="btn btn-success btn-block"
            type="submit"
            [disabled]="f.invalid"
          >
            {{ 'sign_up' | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
