<div class="container py-4">
  <div class="row mb-4 justify-content-center">
    <div class="col text-center">
      <img
        src="assets/imgs/trakd_logo.svg"
        alt="trakd_logo"
        width="150"
        height="150"
        class=""
      />
      <h2 class="mt-2 mb-4">trakd</h2>
      <p class="text-muted mb-4">
        {{ "info_text" | translate }}
      </p>
      <img
        src="assets/imgs/tmdb_logo.svg"
        alt="trakd_logo"
        width="150"
        class="mt-4"
      />
    </div>
  </div>
</div>
