<div class="container py-4">
  <div class="row">
    <div class="col mx-1">
      <div class="d-flex flex-column">
        <img
          src="assets/imgs/profile_img.jpg"
          class="border border-dark rounded mx-auto mb-3"
          alt="not_found_face"
          width="100px"
        />
        <h5 *ngIf="!user" class="text-center mb-4">{{ 'navbar_guest' | translate }}</h5>
        <h5 *ngIf="!!user" class="text-center mb-4">{{ user.username }}</h5>
        <a
          *ngIf="!!user"
          [routerLink]="['/private/profile']"
          class="btn btn-primary mx-auto mb-2"
          role="button"
          style="min-width: 200px"
          >{{ 'profile' | translate }}</a
        >
        <a
          *ngIf="!user"
          [routerLink]="['/signin']"
          class="btn btn-dark mx-auto mb-2"
          role="button"
          style="min-width: 200px"
          >{{ 'sign_in' | translate }}</a
        >
        <a
          *ngIf="!!user"
          [routerLink]="['/signin']"
          class="btn btn-dark mx-auto mb-2 disabled"
          role="button"
          style="min-width: 200px"
          >{{ 'sign_in' | translate }}</a
        >
        <a
          [routerLink]="['/signup']"
          class="btn btn-dark mx-auto mb-2"
          role="button"
          style="min-width: 200px"
          >{{ 'sign_up' | translate }}</a
        >
        <button
          *ngIf="!!user"
          class="btn btn-danger mx-auto"
          (click)="logout()"
          style="min-width: 200px"
        >
          {{ 'navbar_logout' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
